[submodule "Example/RenderFramework/vendor/glfw"]
	path = Example/RenderFramework/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Example/RenderFramework/vendor/spdlog"]
	path = Example/RenderFramework/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
