[submodule "DeltaEngine/Vendor/glfw"]
	path = DeltaEngine/Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "DeltaEngine/Vendor/spdlog"]
	path = DeltaEngine/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "DeltaEngine/Vendor/imgui"]
	path = DeltaEngine/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "DeltaEngine/Vendor/cmrc"]
	path = DeltaEngine/Vendor/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "DeltaEngine/Vendor/stb"]
	path = DeltaEngine/Vendor/stb
	url = https://github.com/nothings/stb
